{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<!-- Slideshow container -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/carousel1.jpg" class="img" alt="Los Angeles">
      <div class="absolute-div">
        <div class="carousel-caption">
            <h1 class="d-none d-md-block">Find out about sports in London</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/carousel2.jpg" class="img" alt="Chicago">
      <div class="absolute-div">
        <div class="carousel-caption">
            <h1 class="d-none d-md-block">Take part in sporting events in London</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/carousel3.jpg" class="img" alt="New York">
      <div class="absolute-div">
        <div class="carousel-caption">
            <h1 class="d-none d-md-block">World-famous venues, from Wembley Stadium to Wimbledon</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<!--Jumbotron-->
<div class="jumbotron text-center">

    <!--Title-->
    <h1 class="card-title h2-responsive mt-2"><strong>Welcome to Sport Events</strong></h1>
    <!--Subtitle-->
    <p class="blue-text mb-4 font-bold">Create your event with 1 Click</p>

    <!--Text-->
    <div class="d-flex justify-content-center">
        <p class="card-text mb-3" style="max-width: 43rem;">Whether you’re organising a fun-filled activity day or training the next generation of karate masters, your sports event will be right at home on Sport Event. We’ve helped lots of organisers create events ranging from DBPC Polo in the Park to Frame Yoga to Family Dodgeball & Nerf Gun Fun Event. You’re in safe hands.
        </p>
    </div>

    <hr class="my-4">

    <a href="{{path('user_registration')}}"><button type="button" class="btn btn-blue waves-effect">Register <span class="fa fa-diamond ml-1"></span></button></a>
    <a href="{{path('create_event')}}"><button type="button" class="btn btn-outline-primary waves-effect">Create Event <i class="fa fa-download ml-1"></i></button></a>

</div>
<!--Jumbotron-->

{% endblock %}
